.bg-gradient {
  background-color: rgb(255, 235, 234);
  background-color: linear-gradient(
    180deg,
    rgba(255, 235, 234, 1) 0%,
    rgba(255, 201, 201, 1) 100%
  );
}

.rounded-custom {
  border-bottom-left-radius: 10rem;
}

.hero {
  height: 50vh;
  background-image: url("./assets/hero.png"), url("./assets/Group\ 18.png");
  background-position: bottom -50px center, center;
  background-repeat: no-repeat, repeat;
  background-size: 80%, 70%;
}

@media (min-width: 1280px) {
  .hero {
    height: 90vh;
    background-position: bottom -130px center, center;
  }
}
